.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  max-width: 200px;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

button {
  padding: 15px;
  border: none;
  background-color: rgb(6, 179, 6);
  color: white;
  border-radius: 15px;
  cursor: pointer;
}
